p.root_heading {
    /* background-color: #FFE2D2; */
    color: #AB3C00;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    user-select: none;
}

table.root_table td,table.root_table th {
    /* border: 1px solid #fff; */
    border-collapse: collapse;
    line-height: 150%;
    margin: 0px 0px;
    padding: 1px 5px;
    text-align: left;
    transition-duration: .2s;
    vertical-align: top;
}

table.root_table th {
    color: #AB3C00;
    font-weight: 700;
    white-space: nowrap;
}

div.root_content {
    border: 2px solid #AB3C00;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    text-align: left;
}

a.button.root {
    background-color: #F95700;
}

a.button.root:hover {
    background-color: #AB3C00;
    color: white;
    user-select: none;
}

a.button.root.active {
    background-color: #AB3C00;
    color: white;
}
