h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

p {
    line-height: 150%;
    margin: 3px 5px;
    vertical-align: middle;
}

p.heading {
    background-color: #E2FFFF;
    color: black;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    user-select: none;
}

p.sutta {
    color: #00A4CC;
    font-style: italic;
}

table.table1 {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table.table1 td, table.table1 th {
    border: 1px solid #fff;
    border-collapse: collapse;
    line-height: 150%;
    margin: 0px 0px;
    padding: 1px 5px;
    text-align: left;
    transition-duration: .2s;
    vertical-align: top;
}

table.table1 th {
    color: #00A4CC;
    font-weight: 700;
    white-space: nowrap;
}


table.dataframe {
    border: 2px solid #fff;
    border-collapse: collapse;
}

table.dataframe td,table.dataframe th {
    border: 2px solid #fff;
    border-collapse: collapse;
    line-height: 150%;
    padding: 1px 5px;
    text-align: center;
    transition-duration: .2s;
    vertical-align: middle;
}

table.dataframe td {
    background-color: #E2FFFF;
    color: black;
}

table.dataframe th {
    color: #00A4CC;
    font-weight: 700;
    white-space: nowrap;
}

input {
    display: none;
}

div.content {
    border: 2px solid #00A4CC;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    text-align: left;
}

a.button {
    text-decoration: none;
    background-color: #E2FFFF;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px #888888;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 80%;
    font-weight: 400;
    margin: 1px 1px 2px 0px;
    padding: 2px 5px;
    transition-duration: .2s;
    user-select: none;
}

a.button.close {
    float: right;
    margin: 10px;
}

a.button:hover {
    background-color: #00A4CC;
    color: white;
    user-select: none;
}

.link {
    border-radius: 5px;
    color: #00A4CC;
    font-weight: 700;
}

.hidden {
    display: none;
}

a.button.active {
    background-color: #00A4CC;
    color: white;
    user-select: none;
}
