<%page args='abbreviation'/>
<%namespace file='/lib.mako' import='google_link_dps'/>
<body>
    <div class="help">
        <p>
            сокращение. <b>${abbreviation.meaning}</b>.\
%if abbreviation.pali_meaning != '':
<br>Пали: ${abbreviation.pali_meaning}.\
%endif
            %if abbreviation.example != '':
            <br>
            Прим.: ${abbreviation.example}.
            %endif
            <br>
            <b>${abbreviation.en_abbrev}</b>.
            %if abbreviation.en_meaning != '':
            ${abbreviation.en_meaning}.
            %endif
            %if abbreviation.explanation != '':
            ${abbreviation.explanation}.
            %endif
        </p>
    </div>

    <p>
        ${google_link_dps(entry='abbrev', text='Сообщить об ошибке.')}
    </p>
</body>

## vi: syn=mako
