<%page args='abbreviation'/>
<%namespace file='/lib.mako' import='google_link_sbs'/>
<body>
    <div class="help">
        <p>
            abbreviation. <b>${abbreviation}</b>. ${abbreviation.meaning}.\
%if abbreviation.pali_meaning != '':
 ${abbreviation.pali_meaning}.\
%endif
            <br>
            %if abbreviation.example != '':
            e.g. ${abbreviation.example}.
            %endif
            <br>
            %if abbreviation.explanation != '':
            ${abbreviation.explanation}.
            %endif

    <p>
        ${google_link_sbs(entry=abbreviation, text='Report a mistake.')}
    </p>

## vi: syn=mako
