<div id="feedback_dps_${w.pali_}" class="content_dps hidden">
  <a
    class="button_dps close"
    href="javascript:void(0);"
    onclick="button_click(this)"
    data-target="feedback_dps_${w.pali_}">
    close
  </a>

  <p>
    Devamitta Pāḷi Study is a work in progess.
    This work mainly based on DPD <b>Digital Pāli Dictionary by Ven. Bodhirasa</b>
  </p>

  <p>
    <a
      class="link"
      href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${w.pali}&entry.1433863141=GoldenDict ${today}"
      target="_blank">
      Correct a mistake.
    </a>
    <span> Did you spot a mistake in the dictionary? Have a bright idea? Please report it! It generally takes less than a minute. Your corrections and suggestions help to improve the quality of this dictionary for everyone who uses it.</span>
  </p>

  <p>
    <a
      class="link"
      href="https://drive.google.com/drive/folders/18Js2o8p4DF42ViwiDO5s7VwNcolSNwhL?usp=sharing">
      Get updated.
    </a>
    <span>You are using DPS GoldenDict created on <b>${today}</b>. Check for an update regularly.</span>
  </p>
  <p><a class="link" href = "mailto:rusdevamitta@gmail.com?subject=Update me!&body=Please send me DPD updates as soon as they're available.">Join the mailing list.</a><span> Get notified of updates and new features as soon as they become available.</span></p>

  <p>
    ---------------------------------------------------
    <br>
    Это образовательный проект и находится на стадии тестирования и редактирования. Ваши предложения и комментарии будут неоценимой помощью в улучшении качества данной работы и будут полезны всем пользователям словаря.
    Этот словарь основывается на DPD <b>Digital Pāli Dictionary by Ven. Bodhirasa.</b>
  </p>

  <p>
    <a
      class="link"
      href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${w.pali}&entry.1433863141=GoldenDict ${today}"
      target="_blank">
      Сообщить об ошибке.
    </a>
    <span> Обнаружили ошибку? Или у вас есть ценная идея о том как можно улучшить словарь?</span>
  </p>

  <p>
    <a
      class="link"
      href="https://drive.google.com/drive/folders/18Js2o8p4DF42ViwiDO5s7VwNcolSNwhL?usp=sharing">
      Скачать обновления.
    </a>
    <span>Ваша версия словаря от <b>${today}</b>. Пожалуйста регулярно проверяйте наличие обновлений.</span>
  </p>
  <p><a class="link" href = "mailto:rusdevamitta@gmail.com?subject=Update me!&body=Пожалуйста подпишите меня на рассылку обновлений словаря.">Подписаться на обновления.</a><span> Получать уведомление по электронной почте о наличии обновлений и новых функций словаря.</span></p>

</div>
