<div id="feedback_test_${w.pali_}" class="content_test hidden">
  <!-- <a
    class="button_test close"
    href="javascript:void(0);"
    onclick="button_click(this)"
    data-target="feedback_test_${w.pali_}">
    feedback
  </a> -->
  
  <p>
    DPS Pāḷi Dictionary is a work in progress, it is analysis of the words from Devamitta Pali Study. It made available for testing.
    <br>
    This work based on <a class="link" href="https://digitalpalidictionary.github.io/">DPD</a><span></span> <b>Digital Pāḷi Dictionary by Ven. Bodhirasa. </b>
    <br>
    <b>Help.</b> Click on any heading or abbrevaiation to get contextual help.
    <br>
    The list of literature you can see in <b>Info</b>
  </p>

  <p>
    <a
      class="link"
      href="https://docs.google.com/forms/d/e/1FAIpQLScNC5v2gQbBCM3giXfYIib9zrp-WMzwJuf_iVXEMX2re4BFFw/viewform?usp=pp_url&entry.438735500=${w.pali}&entry.1433863141=GoldenDict ${today}"
      >
      Report a mistake.
    </a>
    <span> Did you spot a mistake in the dictionary? Have a bright idea? Please report it. It
      generally takes less than a minute, and your corrections and suggestions help to improve the quality of this
      dictionary for everyone who uses it.</span>
    </a>
  </p>
    <p> You are using DPS Pāḷi Dictionary for GoldenDict created on <b>${today}</b>.</p>
</div>