<div id="feedback_dps_${w.pali_}" class="content_dps hidden">
  <!-- <a
    class="button_dps close"
    href="javascript:void(0);"
    onclick="button_click(this)"
    data-target="feedback_dps_${w.pali_}">
    закрыть
  </a> -->
  
  <p>
    Это образовательный проект и находится на стадии тестирования и редактирования. 
    <br>
    Словарь основывается на DPD <b>Электронный Словарь Пали (Дост. Бодхираса).</b>
    <br>
    <b>Помощь.</b> Чтобы увидеть подробное описание пожалуйста кликните на любое заглавие или сокращение.
    
    Список литературы можно увидеть в статье <b>Источники</b>

  </p>

  <p>
    <a
      class="link"
      href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${w.pali}&entry.1433863141=GoldenDict ${today}"
      target="_blank">
      Сообщить об ошибке.
    </a>
    <span> Ваши предложения и комментарии будут неоценимой помощью в улучшении качества данной работы и будут полезны всем пользователям словаря.</span>
  </p>

  <p>
    <span>Ваша версия словаря от <b>${today}</b>. Пожалуйста, регулярно проверяйте наличие обновлений.</span>
  </p>

<p><a class="link" href="https://devamitta.github.io/">Веб страница</a><span>. Можно найти всежую версию словаря; узнать больше о функциях, как установить и настроить.</span></p>
<p><a class="link"
    href="mailto:devamitta@sasanarakkha.org?subject=Участие&body=Пожалуйста, дайте мне знать, как я могу принять участие в развитии Словаря.">Принять участие</a><span>. Если вы программист или хорошо знаете Пали или как-то хотите поддержать проект, помощь приветствуется!</span></p>
</div>