<%
    google_href = (
        'https://docs.google.com/forms/d/e/1FAIpQLScNC5v2gQbBCM3giXfYIib9zrp-WMzwJuf_iVXEMX2re4BFFw/viewform?'
        f'usp=pp_url&entry.438735500={word.pali}&entry.1433863141=GoldenDict%20{today}'
        '{args}')

    button_template = (
        '<a class="button_sbs" href="javascript:void(0);" onclick="button_click(this)"'
        ' data-target="{target}">{name}</a>')

    examples = [i for i in [word.eg1, word.eg2, word.eg3] if i != '']

    pos_string = ''
    if word.pos != '':
        pos_entries = [i for i in [word.pos, word.grammar, word.derived, word.neg, word.verb, word.trans] if i != '']
        pos_string += ', '.join(pos_entries)
        if word.case != '':
            pos_string += f'({word.case})'
%>

<body>
% if word.meaning == '':
<div class="content_sbs"><p>${word.pos}. <b>${word.meaning}</b> [в процессе]</p></div>
% else:
<div class="content_sbs">
    <p>
        % if word.pos != '':
        ${word.pos}
        % endif
        <b>${word.meaning}</b>
    </p>
</div>
% endif


<div class="button-box">
    % if word.meaning != '':
    ${button_template.format(target=f'grammar_sbs_{word.pali_}', name='grammar')}
    % endif
    % if len(examples) == 1:
    ${button_template.format(target=f'example_sbs_{word.pali_}', name='example')}
    % elif len(examples) > 1:
    ${button_template.format(target=f'example_sbs_{word.pali_}', name='examples')}
    % endif
    % if word.pos in conjugations:
    ${button_template.format(target=f'conjugation_sbs_{word.pali_}', name='спряжения')}
    % endif
    % if word.pos in declensions:
    ${button_template.format(target=f'declension_sbs_{word.pali_}', name='склонения')}
    % endif
</div>

<div id="grammar_sbs_${word.pali_}" class="content_sbs hidden">
    <table class = "table1_sbs">
        % if word.pos != '':
        <tr>
            <th>часть речи</th>
            <td>${pos_string}</td>
        </tr>
        % endif

        <tr valign="top"><th>английский</th><td><b>${word.meaning}</b></td></tr>

        % if word.meaning != "":
        <tr valign="top"><th>русский</th><td><b>${word.meaning}</b></td></tr>
        % endif

        % if word.root != "":
        <tr valign="top"><th>корень</th><td>${word.root}</td></tr>
        % endif
        % if word.base != "":
        <tr valign="top"><th>основа</th><td>${word.base}</td></tr>
        % endif
        % if word.construction != "":
        <tr valign="top"><th>образование</th><td>${word.construction}</td></tr>
        % endif
        % if word.var != "":
        <tr valign="top"><th>вариант</th><td>${word.var}</td></tr>
        % endif
        % if word.comm != "":
        <tr valign="top"><th>комментарий</th><td>${word.comm}</td></tr>
        % endif
        % if word.notes != "":
        <tr valign="top"><th>заметки</th><td>${word.notes}</td></tr>
        % endif
        % if word.sk != "":
        <tr valign="top"><th>санскрит</th><td><i>${word.sk}</i></td></tr>
        % endif
        % if word.sk_root != "":
        <tr valign="top"><th>санск. корень</th><td><i>${word.sk_root}</i></td></tr>
        % endif
    </table>
    <p>
        <a class="link" target="_blank" href="${google_href.format(args='')}">
            Пожалуйста, сообщите об ошибке.
        </a>
    </p>
</div>

<div id="example_sbs_${word.pali_}" class="content_sbs hidden">
    ## FIXME Nested pars
    % if word.eg1 != '':
    <p>${word.eg1}<p class="sutta_sbs">${word.source1} ${word.sutta1}</p></p>
    % endif
    % if word.eg2 != '':
    <p>${word.eg2}<p class="sutta_sbs">${word.source2} ${word.sutta2}</p></p>
    % endif
    % if word.eg3 != '' and word.chapter3 != 'SBS':  # FIXME Is a 'SBS' check should be here?
    <p>${word.eg3}<p class="sutta_sbs">${word.source3} ${word.sutta3}</p></p>
    % endif

    <p>
    Пожалуйста, подскажите более подходящий 
    <a class="link" target='_blank' href="${google_href.format(args=f'&entry.326955045=Пример2')}">пример</a>.
    </p>
</div>

% if word.pos not in indeclinables:
    % if word.pos in declensions:
<div id="declension_sbs_${word.pali_}" class="content_sbs hidden">
    % elif word.pos in conjugations:
<div id="conjugation_sbs_${word.pali_}" class="content_sbs hidden">
    % endif
${table_data_read}
    % if word.pos != 'sandhi' and word.pos != 'idiom' and (word.pos in declensions or word.pos in conjugations):
    <p>
        У вас есть предложение?
        <a class="link" target='_blank' href="${google_href.format(args='')}">
            Пожалуйста, сообщите об ошибке
        </a>.
    </p>
    % endif
</div>
% endif

<div id="feedback_sbs_${word.pali_}" class="content_sbs hidden">
  <!-- <a
    class="button_sbs close"
    href="javascript:void(0);"
    onclick="button_click(this)"
    data-target="feedback_sbs_${word.pali_}">
    feedback
  </a> -->

  <p>
    SBS Pāḷi Dictionary is a work in progress, it is analysis of the words from SBS Pāḷi-English Recitation. It made available for testing and feedback purposes.
    <br>
    This work based on <a class="link" href="https://digitalpalidictionary.github.io/">DPD</a><span></span> <b>Digital Pāḷi Dictionary by Ven. Bodhirasa. </b> <br>(Please explore this website to learn more about GoldenDict features)
    <br>
    <b>Help.</b> Click on any heading or abbrevaiation to get contextual help.
    <br>
    The list of literature you can see in <b>Info</b>
  </p>

  <p>
    <a
      class="link"
      href="https://docs.google.com/forms/d/e/1FAIpQLScNC5v2gQbBCM3giXfYIib9zrp-WMzwJuf_iVXEMX2re4BFFw/viewform?usp=pp_url&entry.438735500=${word.pali}&entry.1433863141=GoldenDict ${today}"
      >
      Report a mistake.
    </a>
    <span> Did you spot a mistake in the dictionary? Have a bright idea? Please report it. It
      generally takes less than a minute, and your corrections and suggestions help to improve the quality of this
      dictionary for everyone who uses it.</span>
    </a>
  </p>

  <p>
    <a
      class="link"
      href="https://sasanarakkha.github.io/study-tools/SBS_P%C4%81li_Dictionary/SBS_P%C4%81li_Dictionary.html"
      >
      Get updated.
    </a>
    <span>
      Please regularly check for new version.
    </span>
    <p> You are using SBS Pāḷi Dictionary for GoldenDict created on <b>${today}</b>.</p>
  </p>
</div>

## vi: syn=mako
