<# TODO #>
<%
    google_href = (
        'https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?'
        f'usp=pp_url&entry.438735500={word.pali}&entry.1433863141=GoldenDict%20{today}'
        '{args}')

    mailto_href = (
        'mailto:devamitta@sasanarakkha.org?subject='
        'Участие&body=Пожалуйста, дайте мне знать, как я могу принять участие в развитии Словаря.')

    button_template = (
        '<a class="button_dps" href="javascript:void(0);" onclick="button_click(this)"'
        ' data-target="{target}">{name}</a>')

    examples = [i for i in [word.eg1, word.eg2, word.eg3] if i != '']

    pos_string = ''
    if word.pos != '':
        pos_entries = [i for i in [word.pos, word.grammar, word.derived, word.neg, word.verb, word.trans] if i != '']
        pos_string += ', '.join(pos_entries)
        if word.case != '':
            pos_string += f'({word.case})'
%>

<body>
% if word.russian == '':
<div class="content_dps"><p>${word.pos}. <b>${word.meaning}</b> [в процессе]</p></div>
% else:
<div class="content_dps">
    <p>
        % if word.pos != '':
        ${word.pos}
        % endif
        <b>${word.russian}</b>
    </p>
</div>
% endif


<div class="button-box">
    % if word.meaning != '':
    ${button_template.format(target=f'grammar_dps_{word.pali_}', name='грамматика')}
    % endif
    % if len(examples) == 1:
    ${button_template.format(target=f'example_dps_{word.pali_}', name="пример")}
    % elif len(examples) > 1:
    ${button_template.format(target=f'example_dps_{word.pali_}', name='примеры')}
    % endif
    % if word.pos in conjugations:
    ${button_template.format(target=f'conjugation_dps_{word.pali_}', name='спряжения')}
    % endif
    % if word.pos in declensions:
    ${button_template.format(target=f'declension_dps_{word.pali_}', name='склонения')}
    % endif
</div>

<div id="grammar_dps_${word.pali_}" class="content_dps hidden">
    <table class = "table1_dps">
        % if word.pos != '':
        <tr>
            <th>часть речи</th>
            <td>${pos_string}</td>
        </tr>
        % endif

        <tr valign="top"><th>английский</th><td><b>${word.meaning}</b></td></tr>

        % if word.russian != "":
        <tr valign="top"><th>русский</th><td><b>${word.russian}</b></td></tr>
        % endif

        % if word.root != "":
        <tr valign="top"><th>корень</th><td>${word.root}</td></tr>
        % endif
        % if word.base != "":
        <tr valign="top"><th>основа</th><td>${word.base}</td></tr>
        % endif
        % if word.construction != "":
        <tr valign="top"><th>образование</th><td>${word.construction}</td></tr>
        % endif
        % if word.var != "":
        <tr valign="top"><th>вариант</th><td>${word.var}</td></tr>
        % endif
        % if word.comm != "":
        <tr valign="top"><th>комментарий</th><td>${word.comm}</td></tr>
        % endif
        % if word.notes != "":
        <tr valign="top"><th>заметки</th><td>${word.notes}</td></tr>
        % endif
        % if word.sk != "":
        <tr valign="top"><th>санскрит</th><td><i>${word.sk}</i></td></tr>
        % endif
        % if word.sk_root != "":
        <tr valign="top"><th>санск. корень</th><td><i>${word.sk_root}</i></td></tr>
        % endif
    </table>
    <p>
        <a class="link" target="_blank" href="${google_href.format(args='')}">
            Пожалуйста, сообщите об ошибке.
        </a>
    </p>
</div>

<div id="example_dps_${word.pali_}" class="content_dps hidden">
    ## FIXME Nested pars
    % if word.eg1 != '':
    <p>${word.eg1}<p class="sutta_dps">${word.source1} ${word.sutta1}</p></p>
    % endif
    % if word.eg2 != '':
    <p>${word.eg2}<p class="sutta_dps">${word.source2} ${word.sutta2}</p></p>
    % endif
    % if word.eg3 != '' and word.chapter3 != 'SBS':  # FIXME Is a 'SBS' check should be here?
    <p>${word.eg3}<p class="sutta_dps">${word.source3} ${word.sutta3}</p></p>
    % endif

    <p>
    Пожалуйста, подскажите более подходящий 
    <a class="link" target='_blank' href="${google_href.format(args=f'&entry.326955045=Пример2')}">пример</a>.
    </p>
</div>

% if word.pos not in indeclinables:
    % if word.pos in declensions:
<div id="declension_dps_${word.pali_}" class="content_dps hidden">
    % elif word.pos in conjugations:
<div id="conjugation_dps_${word.pali_}" class="content_dps hidden">
    % endif
${table_data_read}
    % if word.pos != 'sandhi' and word.pos != 'idiom' and (word.pos in declensions or word.pos in conjugations):
    <p>
        У вас есть предложение?
        <a class="link" target='_blank' href="${google_href.format(args='')}">
            Пожалуйста, сообщите об ошибке
        </a>.
    </p>
    % endif
</div>
% endif

<div id="feedback_dps_${word.pali_}" class="content_dps hidden">
    ## TODO Is this necessary?
    <!-- <a
      class="button_dps close"
      href="javascript:void(0);"
      onclick="button_click(this)"
      data-target="feedback_dps_${word.pali_}">
      закрыть
    </a> -->

    <p>
        Это образовательный проект и находится на стадии тестирования и редактирования.
        <br>
        Словарь основывается на DPD <b>Электронный Словарь Пали (Дост. Бодхираса).</b>
        <br>
        <b>Помощь.</b> Чтобы увидеть подробное описание пожалуйста кликните на любое заглавие или сокращение.
        
        Список литературы можно увидеть в статье <b>Источники</b>
    </p>
  
    <p>
        <a class="link" href="${google_href.format(args='')}" target="_blank">
            Сообщить об ошибке.
        </a>
        <span>
            Ваши предложения и комментарии будут неоценимой помощью в улучшении
            качества данной работы и будут полезны всем пользователям словаря.
        </span>
    </p>

    <p>
      <span>Ваша версия словаря от <b>${today}</b>. Пожалуйста, регулярно проверяйте наличие обновлений.</span>
    </p>

    <p>
      <a class="link" href="https://devamitta.github.io/">Веб страница</a>.
      <span>Можно найти всежую версию словаря; узнать больше о функциях, как установить и настроить.</span>
    </p>
  
    <p>
      <a class="link" href="${mailto_href}">Принять участие</a>.
      <span>Если вы программист или хорошо знаете Пали или как-то хотите
        поддержать проект, помощь приветствуется!</span>
    </p>
</div>
</body>

## vi: syn=mako
